body {
  margin: 0;
  background: transparent;
overflow: hidden;
}
.App {
    width: 100%;
    height: 100%;
    max-width: 520px;
    max-height: 500px;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex; 
    padding: 1rem;
    background: var(--bg);
    transition: background 0.3s ease, color 0.3s ease;
}

.App > * {
    position: relative;
    z-index: 1;
    width: 100%;
}


.theme-light {
    --bg: linear-gradient(135deg, #2c003e, #8b1e3f, #ff6f61);
    --text: #fdf6f0;
    position: relative;
    overflow: hidden;
    color: var(--text);
}

.theme-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 20px 20px;
    opacity: 0.2;
    z-index: 0;
}
.theme-dark {
    --bg: linear-gradient(135deg, #0d0b1f, #1a103d, #3c0f4e);
    --text: #fdf6f0;
    color: var(--text);
}

.top-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}


.forecast-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
